<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>SNAP - Learning System</title>
  </head>

  <body>
    <div class="container">
      <div class="row row-content">
        <h1 class="text-center">SNAP</h1>
        <p class="lead text-center">
          A StackOverflow based learning system
        </p>
      </div>

      <div class="row row-content">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">What To Answer</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">What To Learn</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Did You Know</div>
            <div class="panel-body">Panel content - Placeholder for DNY</div>
            <div class="panel-footer">Panel Footer - Placeholder for DNY</div>
          </div>
        </div>
      </div>

      <div class="row row-content">
        <div class="col-sm-4">
          <div class="panel panel-default">

            <div class="panel-heading">Competencies</div>

            <div class="panel-body">Competency list ...</div>

            <div class="panel-footer">
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="new-competency">New Competency</label>
                  <input type="text" class="form-control" id="new-competency" placeholder="Enter new competency" />
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Competency Levels</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Learning Objectives</div>

            <div class="panel-body">Learning objectives list...</div>

            <div class="panel-footer">
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="new-objective">New objective</label>
                  <input type="text" class="form-control" id="new-objective" placeholder="Enter learning objective" />
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
