<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/d3.js" charset="utf-8"></script>
    <title>Your Profile - SNAP</title>
    <style type="text/css">
		.absolute-center {
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		.absolute-center.is-responsive {
			width: 50%;
			height: 50%;
			min-width: 200px;
			padding: 40px;
		}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
                <li><a><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Learning Groups</a></li>
                <li><a><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
            </ul>
        </div>
      </div>
    </nav>

  	<div class="container absolute-center is-responsive">
      <div class="row row-content">
        <div class="panel panel-default">
        	<div class="panel-heading">Your Competency Graph</div>
        	<div class="panel-body">
            <div class="chart">
            </div>
        	</div>
        </div>
      </div>
  	</div>
    <script src="js/competency-graph.js" charset="utf-8"></script>
  </body>
 </html>
